// SPDX-License-Identifier: GPL-2.0+
/*
 * Qualcomm APQ8016 based Dragonboard 410C board device tree source
 *
 * (C) Copyright 2015 Mateusz Kulikowski <mateusz.kulikowski@gmail.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "msm8916.dtsi"
#include "pm8916.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Dragonboard 410c";
	compatible = "qcom,apq8016-sbc", "qcom,apq8016";
	qcom,msm-id = <0xce 0x0 0xf8 0x0 0xf9 0x0 0xfa 0x0 0xf7 0x0>;
	qcom,board-id = <0x10018 0x0>;

	aliases {
		usb0 = "/soc/ehci@78d9000";
		serial0 = &blsp_uart2;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x3da00000>;
	};

	chosen {
		stdout-path = "/soc/serial@78b0000";
	};

	leds {
		compatible = "gpio-leds";
		user1 {
			label = "green:user1";
			gpios = <&tlmm 21 0>;
		};

		user2 {
			label = "green:user2";
			gpios = <&tlmm 120 0>;
		};

		user3 {
			label = "green:user3";
			gpios = <&pm8916_gpios 0 0>;
		};

		user4 {
			label = "green:user4";
			gpios = <&pm8916_gpios 1 0>;
		};
	};
};

&blsp_uart2 {
	status = "okay";
};

&pm8916_gpios {
	usb_hub_reset_pm {
		gpios = <&pm8916_gpios 2 0>;
	};

	usb_sw_sel_pm {
		gpios = <&pm8916_gpios 3 0>;
	};
};

&pm8916_resin {
	status = "okay";
};

&sdhc_1 {
	status = "okay";
	clock-frequency = <100000000>;
};

&sdhc_2 {
	status = "okay";
	cd-gpios = <&tlmm 38 GPIO_ACTIVE_LOW>;
	clock-frequency = <200000000>;
};

&usb {
	status = "okay";
};
